<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ranjeevmahtani.brackit">

    <!-- To access pictures and make API calls -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NETWORK" />

    <!-- To save downloaded pictures to disk cache -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".BrackItApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- WebViewActivity to load a web page url -->
        <activity
            android:name=".WebViewActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TournamentSetupStep1Activity"
            android:label="Add Tourney Step 1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TournamentSetupStep2Activity"
            android:label="Add Tourney Step 1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BracketActivity"
            android:label="@string/title_activity_bracket"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
